*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(214, 15, 48);
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efd7c2;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:#799da1;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.2s;
}

h1{
    font-size: 9vw;
    font-weight: 700;
}